//-
    name: {{block}}
    description: Markup for the {{block}} block
    arguments:
        - {object} data - block data
        - {object} mods - block modifiers

mixin {{block}}(data = {}, mods = {})
    .{{block}}&attributes(attributes)
