//-
  name: {{componentName}}
  description: Markup for the {{componentTitle}} component.
  arguments:
    - {object} props - Component properties.

mixin {{componentName}}(props = {})
  .{{componentName}}&attributes(attributes)
