/**
 * @file Implementation of the {{componentTitle}} component.
 */

// -------------------------- BEGIN MODULE VARIABLES --------------------------

// Component name
const COMPONENT_NAME = '{{componentName}}';

// Element class names
const CLASSNAME = {
  ROOT: COMPONENT_NAME,
};

// Element selectors
const SELECTOR = {
  ROOT: `.${COMPONENT_NAME}`,
};

// Associate class instances with DOM elements using a weak map
const instanceMap = new WeakMap();

// TODO: add code here

// --------------------------- END MODULE VARIABLES ---------------------------

/**
 * {{componentTitle}}.
 */
export default class {{constructorName}} {
  /**
   * Initialize the {{componentTitle}} component.
   * 
   * @param {HTMLElement} root The root element of the component.
   */
  constructor(element) {
    // TODO: add code here

    instanceMap.set(element, this);
  }

  // ------------------------- BEGIN PRIVATE METHODS ------------------------

  // TODO: add code here

  // -------------------------- END PRIVATE METHODS -------------------------

  // -------------------------- BEGIN EVENT HANDLERS ------------------------

  // TODO: add code here

  // --------------------------- END EVENT HANDLERS -------------------------

  // -------------------------- BEGIN PUBLIC METHODS ------------------------

  /**
   * Get a component instance associated with the given DOM element.
   *
   * @param {HTMLElement} element The element.
   * @returns {Object | null} The associated instance or null if no such
   *  instance exists.
   */
  static getInstance(element) {
    return instanceMap.get(element);
  }

  /**
   * Initialize all {{componentTitle}} components on the page.
   */
  static initAll() {
    [].forEach.call(document.querySelectorAll(SELECTOR.ROOT), (root) => {
      new {{constructorName}}(root);
    });
  }

  // --------------------------- END PUBLIC METHODS -------------------------
}
