/**
 * @file Implementation of the {{blockDesc}} block
 */

// -------------------------- BEGIN MODULE VARIABLES --------------------------

// TODO: add code here

// --------------------------- END MODULE VARIABLES ---------------------------

/**
 * {{block}}.
 */
export default class {{blockClass}} {
    /**
     * Initialize the {{blockDesc}} block.
     * 
     * @param {HTMLElement} rootElement The root element of the block.
     */
    constructor(rootElement) {
        // TODO: add code here
    }

    // ------------------------- BEGIN PRIVATE METHODS ------------------------

    // TODO: add code here

    // -------------------------- END PRIVATE METHODS -------------------------

    // -------------------------- BEGIN EVENT HANDLERS ------------------------

    // TODO: add code here

    // --------------------------- END EVENT HANDLERS -------------------------

    // -------------------------- BEGIN PUBLIC METHODS ------------------------

    /**
     * Initialize all {{blockDesc}} blocks on the page.
     */
    static initAll() {
        // TODO: add code here
    }

    // --------------------------- END PUBLIC METHODS -------------------------
}
