/**
 * Styles for the {{block}} block.
 */
.{{block}} {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // Bem modifiers
    // TODO: add code
}
