//-
    name: {{blockName}}
    description: Markup for the {{blockTitle}} block.
    arguments:
        - {object} props - Block properties.

mixin {{blockName}}(props = {})
    .{{blockName}}&attributes(attributes)
