//-
    name: {{blockName}}
    description: Markup for the {{blockDesc}} block
    arguments:
        - {object} props - block properties

mixin {{blockName}}(props = {})
    .{{blockName}}&attributes(attributes)
